.app-container {
    display: flex;
    justify-content: space-between;
  }
  
  .graph-container {
    width: 60%;
    padding: 20px;
  }
  
  .form-container {
    width: 35%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 700px; /* Set a fixed height */
    overflow-y: auto; /* Apply scrollbar only if content overflows */
  }
  
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  